<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Welcome home</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <input type="text" class="input" placeholder="Where?">
    <input type="text" class="input" placeholder="When?">
    <select class="select">
      <option value="1 guest">1 Guest</option>
      <option value="2 guests">2 Guests</option>
      <option value="3 guests">3 Guests</option>
    </select>
    <input type="submit" class="btn btn-primary btn-lg" value="Search">
  </div>
</div>
